#safelist
branches:
  only:
      - master
      - develop
language: java
jdk:
  - openjdk11
node_js: "10"
cache:
    directories:
        - $HOME/.m2
jobs:
  include:
    - stage: compile
      before_script:
        - cd swaggen
      script:
        - npm install -g swagger-cli
        - npm install -g redoc-cli
        - mvn -U -s ../assets/settings.xml clean install #plugin
        - mvn javadoc:javadoc -s ../assets/settings.xml
        - cd ../sample-project 
        - mvn clean install #sample-project
        - ls
        - cd generated
        - ls
        - sh generate_docs.sh
stages:
  - name: compile
notifications:
  slack: swaggen:Ykqb64SVX8bgvp5ZDi9KcJ3A
